.topbar{
    width: 100%;
    height: 50px;
    background-color: rgb(187, 11, 11);
    display: flex;

    .email{
        width: 20%;
        height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .fa-solid{
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
        }

        p a{
            color: #ffffff;
            font-size: 14px;
            margin-left: 5px;
        }
    }

    .phone{
        width: 15%;
        height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-solid{
            font-size: 16px;
            color: #ffffff;
        }

        p a{
            color: #ffffff;
            font-size: 14px;
        }
    }

    .location{
        width: 15%;
        height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-solid{
            font-size: 16px;
            color: #ffffff;
        }

        p{
            display: inline-block;
            color: #ffffff;
            font-size: 13px;
        }
    }

    .date-time{
        width: 25%;
        height: 50px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .fa-solid{
              font-size: 13px;
              color: white;
        }

        p{
            display: inline-block;
            color: #ffffff;
            font-size: 13px;
        }
    }

    .social-links{
           width: 25%;
           height: 50px;
           border-right: 1px solid rgba(255, 255, 255, 0.2);
           display: flex;
           align-items: center;
           justify-content: center;

           .fa-brands{
                font-size: 16px;
                color: white;
           }

           .fa-twitter{
               margin-left: 10px;
           }

           .fa-instagram{
                 margin-left: 10px;
           }
    }
}
